[Unit]
Description=Resin.io User Application
Before=udev-trigger.service

[Service]
WorkingDirectory=/usr/bin/
EnvironmentFile=/etc/docker.env
ExecStart=/etc/resinApp.cmd


[Install]
WantedBy=basic.target